*  {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
text {
    font-family: 'Roboto';
}
body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

p {
    margin: auto;
}

/*
*
 HEADER
*
*/

.header {
    background: #000000;
    position:relative;
    display: flex;
    margin: 0;
    width: 100%;
}

.logo-box {
    margin: 1rem 1rem;
}

.main-header {
    margin: 0 auto;
    display: flex;
}

.hidden-object {
    display: none;
}

.nav-bar {
    width: 100%;
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: -2rem;
}

.nav-item  {
    margin-left: 3px;
    margin-right: 55px;
}

.link-item-active {
    text-decoration: none;
    font-weight: 500;
    color:#FE9013;
}

.link-item {
    text-decoration: none;
    font-weight: 700;
    color: #FFFFFF;
}
.link-item:hover {
    color: #FE9013;
    font-weight: 500;
}
.link-item-active:hover {
    touch-action: none;
    text-decoration: none;
    color: #FE9013;
    cursor: default;
}

.nav-item-end {
    justify-content: end;
    margin-top: 2.3rem;
    margin-left: 24rem;
    margin-right: 2rem;
}
.burger-menu {
    position: absolute;
    top: 2rem;
    right: 15%;
    width: 30px;
    height: 21px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.burger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*
*
WATCH SECTION
*
*/

.watch-background-image {
    background-image: url(../../assets/images/Giant\ Panda.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 780px;
    padding-top: 1rem;
}

.watch-circle {
    background-color:#FE9013;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    margin-left: 50%;
}
.watch-text {
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 106.5px;
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    margin-left: 55%;
    margin-top: -25rem;
    position: absolute;
}

.watch-text span {
    color:#FFEE2E;
}

.watch-button {
    width: 298px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    cursor: pointer;
    border: solid #FE9013;
    background-color:#FE9013;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5rem;
    margin-left: 60%;
}

.watch-button:hover {
        background-color: #E47209;
        border-color: #E47209;
}

/*
*
BACKSTAGE CAP SECTION
*
*/

.backstage {
    margin: auto;
    display: flex;
    width: 1160px;
    height: 427px;
    padding-top: 5rem;
}

.backstage-block {
    margin: auto;
    display: flex;
}

.backstage-image {
    padding-top: 3rem;
    width: 455px;
    height: 408px;
}

.backstage-text {
    margin-left: 16rem;
    font-family: 'Roboto', sans-serif;
    color: #333B41;
}

.backstage-text p {
font-size: 16px;
line-height: 22.4px;
}

.backstage-text h2 {
    width: 30rem;
    text-align: justify;
    font-size: 48px;
    line-height: 57.6px;
}

.backstage-text h3 {
    font-size: 24px;
    line-height: 28.8px;
}

.right-flowers {
    margin-top: -500px;
    position: relative;
    margin-left: 1200px;
}

/*
*
PETS
*
*/
.pet {
    border-radius: 5px;
    border: solid orange;
    border-width: 0.7mm;
    padding: 0 0 20px 0;
    object-fit: cover;
}
.pet:hover .caption {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: jump-end;
    margin-left: 30px;
    margin-top: 5px;
    color:aliceblue;
    text-shadow: 1px 1px #000000;
}
.pet:hover img {
    transition: 0.7s;
    filter: brightness(10%);
}
.pet:hover {
    cursor: pointer;
}

@keyframes floating {
    0% { transform: translate(0, 0px); }
    50%  { transform: translate(0, -200px); }
    100%   { transform: translate(0, -200px); }
}
.capt-dark {
    display: block;
    margin: 10px 0 0 20px;
    font-weight: 500;
}
.capt-light {
    display: block;
    margin: 10px 0 0 20px;
    font-weight: 300;
}

.grid-pets {
    padding-top: 16rem;
    row-gap: 1rem;
    column-gap: 1.5rem;
    width: 1160px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    justify-content: space-evenly;

}
.button {
    text-align: center;
}
.leftbutton {
    text-align: left;
}
.centered-button {
    width: 298px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    cursor: pointer;
    border: solid #FE9013;
    background-color:#FE9013;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 6rem;
    margin-bottom: -40rem;
}
.centered-button:hover {
    background-color: #E47209;
    border-color: #E47209;
}
.bottom-flowers {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.bot-right-flowers {
    margin-top: 11.5rem;
}
.arrows {
    padding-top: 5rem;
    padding-bottom: 10rem;
    gap: 70rem;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    margin-top: -36rem;
}
.leftarrow :hover{
    cursor: pointer;
    transition: 0.5s;
    opacity: 50%;
}
.rightarrow :hover{
    cursor: pointer;
    transition: 0.5s;
    opacity: 50%;
}

.petfood {
    display: flex;
    position: absolute;
    margin-top: -2rem;
    margin-left: 19.5rem;
}

/*
*
FRIEND
*
*/

.friend {
    margin: auto;
    padding: 10px;
    width: 100%;
    background-color: #FEBDAB;
    font-family: 'Roboto';
    justify-content: space-evenly;
}
.light-pink {
    margin: auto;
    width: 1160px;
    padding: 10px 50px 40px;
    border-radius: 20px;
    background-color: rgba(253, 253, 255, 0.52);
    border: rgba(253, 253, 255, 0.52);
    margin-bottom: 6rem;
    margin-top: 4rem;
}
.friend h2 {
    text-align: center
}
.friend a {
    text-decoration: none;
}
.orange-title {
    color:#FE9013;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;
}

.joy-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: #333B41;
}
.covid-text {
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: #333B41;
}

.gift-text {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    color: #333B41;
}
.black-title {
    color: #333B41;
    line-height: 47px;
    font-size: 36px;
    font-weight: 400;
}
.how-images {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20%;
}

.how-img-1 {
    padding: 50px 40px;
    align-content: center;
    border:solid #E47209;
    border-width: 0.5mm;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.how-img-2 {
    padding: 50px 50px;
    border:solid #E47209;
    border-width: 0.5mm;
    object-fit: cover;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.how-img-3 {
    padding: 50px 40px;
    border:solid #E47209;
    border-width: 0.5mm;
    object-fit: cover;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.how-img-4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 80px;
}
.how-img-5{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 630px;
    margin-top: 80px;
}
.caption-pay {
    color:#333B41;
    display: flex;
    position: absolute;
    margin-top: 13rem;
    margin-left: 1rem;
    gap: 17rem;
}
.caption-pay :last-child{
    margin-left: -3rem;
}
.centered-button2 {
    width: 298px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    cursor: pointer;
    border: solid #FE9013;
    background-color:#FE9013;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 6rem;
    margin-bottom: 1rem;
}
.centered-button2:hover {
    background-color: #E47209;
    border-color: #E47209;
}
/*
*
TESTIMONIALS
*
*/

.testimonials {
    margin-bottom: 30rem;
}

.testimonials-block {
    margin: auto;
    width: 1160px;
    margin-bottom: -15rem;
}

.testi-title {
    margin-top: 10rem;
    text-align: center;
    font-size: 36px;
    line-height: 47px;
    color: #333B41;
}

.inline-testi {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.testi-1 {
    background-color: #F1F3F2;
    margin-top: 20px;
    border-radius: 20px;
    border: solid #FEBDAB;
    border-width: 0.5mm;
    width: 268px;
    height: 391px;
    line-height: 16px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
    padding-top: 0.5rem;
}

.testi-1 img {
    margin: 0.5rem 0.5rem;
    padding-bottom: 1rem;
}

.testi-name {
    position: absolute;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    font-style: normal;
}

.location {
    position: absolute;
    margin-top: -2.5rem;
    margin-left: 3.8rem;
    color: #BDBDBD;
    font-weight: 100;
}

.bottom-leav img {
    position: absolute;
    margin-left: 1450px;
    margin-top: 200px;
}
.squared-button {
    width: 298px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
    border: solid #FE9013;
    background-color:#FE9013;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 4rem;
    padding-bottom: 1rem;
}
.squared-button:hover {
    background-color: #E47209;
    border-color: #E47209;
}
.slide-bar {
    width: 599px;
    height: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    border: solid #FEBDAB;
    border-width: 0.5mm;
    background-color: #F1F3F2;
    margin: auto;
    margin-top: 2rem;
}

.slide-bar:hover {
    cursor: pointer;
}

.slide-btn {
    width: 80px;
    height: 8px;
    background:#FE9013;
    border-radius: 5px;
}

/*
*
FOOTER
*
*/

.footer {
    background-color: #111115;
    position: relative;
    display: flex;
    margin: 0;
    width: 100%;
    height: 443px;
    color: #FFFFFF;
    justify-content: space-evenly;
}

.footer-button {
    cursor: pointer;
}

.footer-logo {
    margin-top: 2rem;
}

ul {
    list-style: none;
}

.media-list {
    margin-left: -3rem;
    margin-top: 4rem;
}

.left-footer {
    margin-left: 2rem;
}

.middle-footer-nav {
    position: relative;
    display: flex;
    margin: 0;
}
.footer-list {
    margin: auto;
    margin-left: 20rem;
    margin-top: -2rem;
    width: 50%;
    display: flex;
}
.footer-item {
    margin: 0 2rem;
}

.subscribe-form {
    color: white;
    position: absolute;
    margin-left: 52rem;
    margin-top: -22rem;
}
.signature-block {
    display: block;
    white-space: nowrap;
    margin-top: -3rem;
    margin-left: 60rem;
}
.signature-block a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 100;
}
.signature-block a:hover {
    text-decoration: underline;
}

input {
    background-color: #111115;
    color: white;
    border: solid #FE9013;
    border-width: 0.5mm;
    padding: 10px 25px;
    display: inline!important;
}

.footer-button {
    padding: 10px 25px;
    display: inline-block;
}

form {
    display: inline!important;
    margin: 0;
    padding: 0;
}

/* DIFFERENT SCREEN SIZES */

@media screen and (max-width: 1000px){
    .nav-item-end {
        margin-left: 15%;
    }

}
@media screen and (max-width: 640px){
    .burger-menu {
        display: flex;
    }

    .nav-list {
        display: none;
    }
    .nav-item-end {
        display: none;
    }
    .watch-text {
        display: none;
    }
    .watch-circle {
        display: none;
    }
    .watch-button {
        margin-left: 25%;
        margin-top: 10rem;
        }
    .backstage-text {
        margin-left: -28rem;
        margin-top: -30rem;
    }
        .logo-box {
        margin-left: -15rem;
    }
    header {
        position: fixed;
    }

    .grid-pets {
        margin-left: -19rem;
        display: grid;
        grid-template-columns: auto;
        padding-bottom: 25rem;
    }
    .pet {
        border-radius: 5px;
        border: solid orange;
        border-width: 0.7mm;
        padding: 10px;
        object-fit: cover;
        width: 400px;
        align-items: center;
        margin-right: -5rem;
    }

    .backstage-image {
        margin-left: 2rem;
    }
    .centered-button {
        margin-top: -45rem;
        margin-left: 2rem;
    }
    .centered-button2 {
        margin-left: -35rem;
    }

    .joy-text {
        width: 600px;
    }
    .covid-text {
        width: 500px
    }

    .caption-pay {
        display: grid;
    }

    .pay1 {
        position: absolute;
        margin-top: -40rem;
        margin-left: 10rem;
    }
    .pay2 {
        position: absolute;
        margin-top: -30rem;
        margin-left: 10rem;
    }
    .pay3 {
        position: absolute;
        margin-top: -21rem;
        left: 13rem;
    }

    .orange-title {
        margin-left: -35rem;
    }
    .how-img-4 {
        display: none;
    }
    .how-img-5 {
        display: none;
    }

    .covid-text {
        overflow: hidden;
        text-overflow: clip;
    }
    .how-images {
        margin-left: 10rem;
        margin-bottom: 2rem;
        display: inline-block;
        width: 150px;
        height: 150px;
    }
    .black-title {
        margin-left: -35rem;

    }
    .how-images img {
        display: inline-block;
        justify-content: center;
        width: 50px;
        height: 50px;
    }

    .testi-title {
        margin-top: 5rem;
        margin-left: -35rem;
    }
    .inline-testi {
        display: grid;
        grid-template-columns: auto;
        display: inline-table;
        padding-top: 5rem;
        margin-left: 12rem;
    }
    .slide-bar {
        margin-left: 1rem;
    }
    .squared-button {
        margin-left: 3rem;
        margin-top: 5rem;
    }


    .media-list {
        margin-left: -3rem;
        margin-top: 3rem;
    }

    .left-footer {
        margin-left: 20rem;
    }

    .middle-footer-nav {
        position: relative;
        display: flex;
        margin: 0 auto;
        margin-top: 3rem;
        margin-left: 2rem;
    }
    .footer-list {
        margin: auto;
        margin-left: 20rem;
        margin-top: -2rem;
        width: 50%;
        display: flex;
    }
    .footer-item {
        margin: 0 2rem;
    }

    .subscribe-form {
        position: absolute;
        margin-left: 40rem;
        margin-top: -27rem;
    }
    .signature-block {
        display: block;
        white-space: nowrap;
        margin-top: -3rem;
        margin-left: 60rem;
    }
    .signature-block a {
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 100;
    }
    .signature-block a:hover {
        text-decoration: underline;
    }

    input {
        background-color: black;
        border: solid #FE9013;
        border-width: 0.5mm;
        padding: 10px 25px;
        display: inline!important;
    }

    .footer-button {
        padding: 10px 25px;
        display: inline-block;
    }
}

@media screen and (max-width: 320px){
    .bottom-flowers {
        display: none;
    }
    .bottom-leav {
        display: none;
    }
    .right-flowers {
        display: none;
    }
    .friend {
        display: none;
    }
    .backstage-image {
        margin-left: 10rem;
    }
    .centered-button {
        display: flex;
        margin-top: 25rem;
        margin-left: 25rem;
    }

    .testi-title {
        margin-top: 45rem;
    }
    .inline-testi {
        display: grid;
        grid-template-columns: auto;
        display: inline-table;
        padding-top: 45rem;
    }
    .footer {
        width: 20%;
    }

}