*  {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
text {
    font-family: 'Roboto';
}
body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    overflow-x: hidden;
}

/*
*
 HEADER
*
*/

.header {
    background: #000000;
    position: relative;
    display: flex;
    margin: 0;
}
.logo-box {
    margin: 1rem 2rem;
}

.main-header {
    margin: 0 auto;
    display: flex;
}

.hidden-object {
    display: none;
}

.nav-bar {
    width: 100%;
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-item  {
    margin-left: 2px;
    margin-right: 55px;
}

.link-item-active {
    text-decoration: none;
    font-weight: 500;
    color:#FE9013;
}

.link-item {
    text-decoration: none;
    font-weight: 700;
    color: #FFFFFF;
}
.link-item:hover {
    color: #FE9013;
    font-weight: 500;
}
.link-item-active:hover {
    touch-action: none;
    text-decoration: none;
    color: #FE9013;
    cursor: default;
}

.nav-item-end {
    justify-content: end;
    margin-top: 2.3rem;
    margin-left: 24rem;
    margin-right: 2rem;
}

/*
*
PANDA IMG SECTION
*
*/

.watch-background-image {
    margin: 0 auto;
    background-image: url(../../assets/images/Giant\ Panda.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 390px;
}

.button {
    text-align: center;
}
.leftbutton {
    text-align: left;
}
.centered-button {
    width: 298px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;
    cursor: pointer;
    border: solid #FE9013;
    background-color:#FE9013;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
}
.centered-button:hover {
    background-color: #E47209;
    border-color: #E47209;
}
/*
*
FRIEND
*
*/

.donate_section {
    margin: auto;
    padding: 10px ;
    width: 100%;
    background-color: #FEBDAB;
    font-family: 'Roboto';
}
.light-pink {
    margin: auto;
    width: 1160px;
    padding: 10px 50px 100px;
    border-radius: 20px;
    background-color: rgba(253, 253, 255, 0.52);
    border: rgba(253, 253, 255, 0.52);
    margin-bottom: 6rem;
    margin-top: 4rem;
}
.donate_section h2 {
    text-align: center;
}
.white-title {
    color:rgba(255, 255, 255, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    line-height: 46.8px;
}

.white-desc {
    font-size: 16px;
    line-height: 22.4px;
    margin-left: 5.5rem;
    font-weight: 400;
    color:rgba(255, 255, 255, 1);
}
.donation-info {
    font-size: 36px;
    margin-left: 5.5rem;
    line-height: 46.8px;
    font-weight: 400;
    color: rgba(254, 144, 19, 1);
}

.pick-friend {
    text-align: center;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 400;
    color: rgba(254, 144, 19, 1);
}

.joy-text {
    font-size: 29px;
    text-align: center;
    line-height: 42px;
    font-weight: 400;
    color: #333B41;
}

.panda-inline {
    margin-left: 430px;

}

.days-img {
    position: absolute;
    margin-top: 140px;
    margin-left: -100px;
}

.x-icon {
    margin-bottom: 70px;
    margin-left: 50px;
    margin-right: 70px;
}

.panda-img {
    padding-left: 7px;
}

.panda-diet {
    position: absolute;
    margin-left: 300px;
    margin-top: -40px;
}

.amount-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    margin-left: 2rem;
}

.donation-radio {
    background-color: #404950;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    cursor: pointer;
}

.donation-radio input[type="radio"]{
    justify-content: space-evenly;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 1px;
    height: 1px;
    padding: 5px;
    margin: 0 7.5rem 0 0px;
    background-color: #FFEE2E;
    accent-color: #FFEE2E;
    cursor: pointer;
    border-radius: 50%;
  }
  .donation-radio input[type="radio"]:checked{
    justify-content: space-evenly;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 1px;
    height: 1px;
    padding: 5px;
    margin: 0 7.5rem 0 0px;
    background-color:#FE9013;
    accent-color: #FFEE2E;
    cursor: pointer;
    border-radius: 50%;
  }

input[type="number"]{
    border: sold #929699;
    background-color: rgba(253, 253, 255, 0.52);
    margin-left: 26rem;
    margin-top: 4rem;
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.donation-bar  ul li{
    display: inline;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-left: 0.1rem;
    padding-left: 1.5rem;
    padding-right: 3.8rem;
  }
.lastone {
    margin-left: 3px;
}

.another-amount {
    position: relative;

}

.unit {
    color: #333B41;
    position: absolute;
    display: block;
    left: 600px;
    top: 73px;
    z-index: 9;
  }

.once-radio {
    color: #333B41;
    font-size: 16px;
    font-weight: 400;
    margin-top: 1rem;
    padding-right: 2rem;
    text-align: center;
}

.share-text {
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    color: #333B41;
}
.black-title {
    color: #333B41;
    line-height: 47px;
    font-size: 36px;
    font-weight: 400;
}
.squared-button {
    width: 298px;
    height: 54px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
    border: solid #FE9013;
    background-color:#FE9013;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 4rem;
}
.squared-button:hover {
    background-color: #E47209;
    border-color: #E47209;
}

/*
*
FOOTER
*
*/

.footer {
    background-color: #111115;
    position: relative;
    display: flex;
    margin: 0;
    width: 100%;
    height: 443px;
    color: #FFFFFF;
    justify-content: space-evenly;
}

.footer-button {
    cursor: pointer;
}

.footer-logo {
    margin-top: 2rem;
}

ul {
    list-style: none;
}

.media-list {
    margin-left: -3rem;
    margin-top: 4rem;
}

.left-footer {
    margin-left: 2rem;
}

.middle-footer-nav {
    position: relative;
    display: flex;
    margin: 0;
}
.footer-list {
    margin: auto;
    margin-left: 20rem;
    margin-top: -2rem;
    width: 50%;
    display: flex;
}
.footer-item {
    margin: 0 2rem;
}

.subscribe-form {
    position: absolute;
    margin-left: 52rem;
    margin-top: -22rem;
}
.signature-block {
    display: block;
    white-space: nowrap;
    margin-top: -3rem;
    margin-left: 60rem;
}
.signature-block a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 100;
}
.signature-block a:hover {
    text-decoration: underline;
}

input {
    background-color: black;
    border: solid #FE9013;
    border-width: 0.5mm;
    padding: 10px 25px;
    display: inline!important;
}

.footer-button {
    padding: 10px 25px;
    display: inline-block;
}

form {
    display: inline!important;
    margin: 0;
    padding: 0;
}